<html>
  <head>
    <script src={{{appclient}}}></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/css/crayons-min.css" />
  </head>
  <body>
    <script>
      const init = async () => {
        try {
          const client = await window.frsh_init();
          const data = await client.data.get('ticket');
          console.log('Child:DataApi', data);
        } catch (error) {
          console.log('Child:DataApi', error);
        }
      };
      init();
    </script>
    <div class="form">
      <form>
        <fw-input label="Your Name" type="text" name="field1" id="name" placeholder="Your Name"></fw-input>
        <fw-input label="Email Address" type="email" name="field2" id="email" placeholder="Email Address"></fw-input>
        <fw-button type="submit">Send</fw-button>
      </form>
    </div>
  </body>
</html>